.table-container{
    padding: 20px;
    width: 100%;
    text-align: left;
}
.w-100{
    width: 100%;

}
th,td{
    padding: 10px;
}
.action{
 border-radius: 5px;
 padding: 2px;
 margin-right: 5px;
}
.action:hover{
    color: blueviolet;
    cursor: pointer;
   }