.navcls{
    display: block;
    color: rgb(7, 4, 22); 
    background-color: rgb(148, 148, 240);
    padding: 10px;
}
.navelm{
    padding: 6px;
    display: inline;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

li:hover{
    color: rgb(143, 89, 18);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* .navelm:hover{
    background-color: rgb(175, 206, 247);
} */